<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voting app</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src="moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  </head>

  <body>
    <script>
      const socket = io("http://localhost:3000");
      socket.on("connection");
    </script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Voting App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if(isAuthenticated) { %>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/candidate/create">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
          </li>
          <li class="nav-item" id="time" style="color: red"></li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login/">Login</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
    <script>
      const timeVoted = "<%= timeVoted %>";
      if (timeVoted === "") {
        document.getElementById("time").innerHTML = ``;
      } else {
        const momentVoted = moment(timeVoted);
        const myInterval = setInterval(() => {
          const countDownTime = moment.duration(momentVoted.diff(moment()));
          const minutes = countDownTime.minutes();
          const seconds = countDownTime.seconds();
          const interval = moment(timeVoted).diff(moment());
          document.getElementById("time").innerHTML = `${minutes} : ${seconds}`;
          if (interval < 0) {
            clearInterval(myInterval);
            document.getElementById("time").innerHTML = `You can vote again!`;
          }
        }, 1000);
      }
    </script>
    <% let total = 0; candidates.forEach((candidate) => { total +=
    parseInt(candidate.votes, 10); }); %>
    <div id="container">
      <div class="row">
        <div class="col-8 offset-2">
          <h1 class="title text-center my-5">Vote For Your Favorite Car</h1>
        </div>
      </div>
      <div class="row">
        <% candidates.forEach((candidate)=> { id = candidate.id;%>
        <form id="photo_container" class="photo_container card col-md-4 p-3">
          <img
            src="<%= candidate.srcUrl %>"
            alt="<%= candidate.altText %>"
            class="photo card-img-top"
          />
          <h4 class="photo_name card-title my-3"><%= candidate.name %></h4>

          <% if (notVoted) { %>
          <a
            class="btn btn-primary vote_btn"
            type="button"
            href="/vote/<%= candidate.id %>"
            >Vote</a
          >
          <% } else { %>
          <h5
            class="votes_results text-center card-subtitle mb-2 text-muted"
            data-car="<%= candidate.id %>"
          >
            <%= candidate.votes %> out of <%= total %> votes
          </h5>
          <script>
            socket.emit(
              "results",
              "<%= candidate.id %>,<%= candidate.votes %> out of <%= total %> votes"
            );
          </script>
          <% } %>
        </form>
        <% }) %>
      </div>
    </div>
    <script>
      socket.on("results", (data) => {
        console.log(data);
        let input = data.split(",");
        document.querySelector("[data-car=" + input[0] + "]").innerHTML =
          input[1];
      });
    </script>
  </body>
</html>
